body {
    font-family: Arial, sans-serif;
  background: center bottom -0.5px / 100% 24% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto no-repeat scroll padding-box border-box rgb(82, 67, 170);
    margin: 0;
    padding: 20px;
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.board {
   padding: 20px;
   background-color: rgb(255 255 255 / 86%);

       border-radius: 5px;
       border: none;
}

.board-id {
    font-weight: bold;
    color: #333;
}

.board-name {
    margin-top: 5px;
    color: #666;
}

.delete-button {
    margin-top: 10px;
    background-color: #ff5757;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}
.goCards-button {
    margin-top: 10px;
    background-color:  #390561;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}
.buttonDivs{
    width: 100%;
    display: flex;
    justify-content: space-between;

    border: none;}
.goCards-button:hover {
                    background-color: #e74c3c;
                }
.delete-button:hover {
    background-color: #e74c3c;
}
.board-form {

    align-items: center; /* Align items vertically in the center */
    background-color: #ffffff00;
    padding: 20px;

    border-radius: 5px;

    margin: 0 auto;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.form-button {
    background-color: #390561;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}

