@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Varela+Round&display=swap');


body{
  background: url(//images.ctfassets.net/rz1oowkt5gyp/6bFuTiN5YQ78rFkHb3aJlo/b608362…/white-wave-mobile.svg) center bottom -0.5px / 100% 24% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto no-repeat scroll padding-box border-box rgb(82, 67, 170);
  background-blend-mode: normal, normal;
  color: rgb(255, 255, 255);
  font-family: 'Hind Siliguri', sans-serif;
font-family: 'Varela Round', sans-serif;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0px;
}
/*styling header-----------------------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient( to bottom, rgb(97 97 97), #ffffff2b );
}

.leftHeader h1 {
  font-size: 1.5rem;
  margin: 0;
  display: flex;
align-items: center;
  padding: 0;
  color: #ffffffef;
 
}
.logo{
  width:30px;
  margin-right: 10px;
  filter: grayscale(1);
}
.rightHeader {
  display: flex;
  align-items: center;
}

.headerInput {
  padding: 0.5rem;
  border: none;
  background-color: #00000033;
  color: #f2f2f2;
  border-radius: 3px;
  font-size: 1rem;
}


.headerInput :focus, input:focus {
  color:whitesmoke;
}
#wepsiteName::placeholder {
  color: rgb(210, 210, 210);
  opacity: 1; /* Firefox */
}

.header-submit_btn {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background-color: #00000033;
  color: #f2f2f2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
}

.headerInput:hover,
.header-submit_btn:hover {
  background-color: #833874;
  
}
/*styling middle -----------------------------------------------------------*/
/*side navigation bar*/
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #ffffffd9;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
  text-decoration:none
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}
/*left side of contant */
.middle{    display: flex;
  height: fit-content;
}
.innermiddle{width: 600px;
  border-radius: 5px;
  background-color: #542a7b96;
  height: fit-content;
  position: relative;
  white-space: normal;
  margin: 10px;
  width: 100%!important;
    }
    .CardsHeaderColums{    width: 100%;
      color: #091e42;
      text-transform: capitalize;
      font-weight: 600;
    padding:10px}
.todo,.inprogress,.done{
  max-height: 80vh;
  height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
  
    padding: 10px;
    margin:3px;
  }
  /*styling cards*/
  .card {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: 1px solid grey;
    background-color: white;
   
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .state-bar {
    background-color: #e4c070;
    color: #fff;
    width: 40%;
    padding: 4px 8px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card-content {
  margin-bottom: 10px;
}

.card-id {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 5px;
}

.card-title {
  font-size: 18px;
  margin: 0;
  color: #827f91; /* Purple color */
}

.card-description {
  font-size: 14px;
  color: #555;
}

/* Styles for the action buttons */
.actions {
  display: flex;
  justify-content: space-between;
}

.update-btn, .delete-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.update-btn {
  color: #6e5392;
  margin-right: 5px;
}

.delete-btn {
  background-color: #db4c3fb8; /* Reddish-purple color */
}
  .card:hover {
    background-color:#4b4276;
    color: #fff;
  }
  .card:hover button {
    color: #000;
    background-color: #fff;
  }
  
  
  .CardsHeaderColums {
    
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;

}


  /*styling bottom -----------------------------------------------------------*/